<div class="testbox">
    <%= form_for @job do |form| %>
    <h1>Add new Job </h1>
    <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title %>
    </div>
    <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description %>
    </div>
    <div class="form-group form-check">
          <%= form.label :status %>
          <%= form.select :status, [:draft, :published, :completed] %>
    </div>

    <button type="Add" class="btn btn-primary">Add</button>


    <% end %>
</div>